<!DOCTYPE html>
<html>
    <head>
        <title>About us</title>
    </head>

    <body>
        <% include header %>
        <div id="content">
            <h1>About us!</h1>
            <h3>Timothy C.</h3>
            <p></p>
        </div>
    </body>


</html>