<!DOCTYPE html>
<html>
    <head>
        <title>About product</title>
        <link rel="styesheet" href="about_product.css">    
    </head>  

    <body>
        <% include header %>    
    </body>  
</html>