<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/about_us.css">
        <title>About us</title>
    </head>

    <body>
        <% include header %>
        <div id="content">
            <h1>About us!</h1>
            
            <div class="profile">
                <h3>Timothy C.</h3>
                <p>I am a 6th grader at a school named STEM school highlands ranch. I enjoy coding at my house. I also like to ski during the winter and bike and play tennis in the summer. I travel a lot but I do it all in my car. My favorite store is the Micro Center. I am proud to announce that we are protecting more lives which will make more tech and more advanced stuff. When this shield is needed which we hope it is never needed but we don’t want to take any risks. I was very worried about all of these school shootings and hoped that this would never happen to me. So me and my group decided that it was a good idea that we create this tactical defense shield to protect the lives of our future lives, engineers, and advancement in technology. With this new idea of this shield my group and I have decided to release this product and help the future lives of this Earth. Without this shield we can protect ourselves and the future of technology. I believe that the sooner we release this product the more lives we will save now and in the future. When we release this product we will make sure that it is very affordable so that everyone can have this product to protect themselves and their school or class. I hope that this shield is a help to all but we all hope that this is never needed. Even though we hope this product is never needed we will take no risk to risk a kid or adult this product will change the lives of all who are affected in these sad events but now these events will still happen sadly but the most important part is that in these events no one will ever die because when these children hide behind our product they will be safe and we will not risk their future lives that could be inventing new ideas that could be very useful to us. </p>
            </div>
            
            <div class="profile">
                <h3>Madison H.</h3>
                <p>I am a 6th grader at STEM Highlands Ranch. I like to bake and cook at my house. I love to hang out with my friends any day. I also like to cheer. I love to travel around the world. My favorite place to visit is Georgia, because my best friend lives there. I am proud to say that I am one of the creators of the T.D.S aka Technical Defence Shield. I hope it will save many lives, if need be, I hope the schools will not have to use it, or I will not have to use it. I hope it keeps many people safe, and we make it better and better.</p>
            </div>

            <div class="profile">
                <h3>Rebbeca B.</h3>
                <p>I am a 6th grader at STEM School in Highlands Ranch Colorado. My favorite subject is art. I really enjoy playing with friends, baking and picking on my big brothers. I joined Protect the Future earlier this year. I am proud of our product, the Technical Defense Shield and hope it keeps many children safe if necessary.</p>
            </div>
        </div>
    </body>


</html>