<!DOCTYPE html>
<html>
    <head>
        <title>About product</title>
        <link rel="styesheet" href="about_product.css">    
    </head>  

    <body>
        <% include header %>  
        <h1>The T.D.S.</h1>
        <h4>Easy steps to setting up your T.D.S.</h4>
        <ol>Roll your T.D.S. to where your hiding<br>Next extened the shield to full height</ol>
        <h4>How it works</h4>
        When you order your shield you will unravel it then you put it in a corner at its lowest hieght so it doesn't take much space 
        <h4>About product</h4>
        <h4>This product is compatible with any wall any height any color. All you have to do is buy it to protect it.</h4> 
    </body>  
</html>