<!DOCTYPE html>
<html>
    <head>
        <title>About us</title>
    </head>

    <body>
        <% include header %>
        <h1>About us!</h1>
        <h3>Timothy C.</h3>
        <p></p>
    </body>


</html>