<!DOCTYPE html>
<html>
    <head>
        <title>Buy Now</title>

    </head>

    <body>
        <h1>Order Yours!</h1>
        <form>
          Quantity:<br>
          <input type="number">
          Color:<br>
          <input type="radio"><span>Black</span><br/>
          <input type="radio"><span>Blue</span><br/>
          <input type="radio"><span>Red</span><br/>
          <input type="submit" value="Place Order">
        </form>


    </body>

</html>
