<!DOCTYPE html>
<html>
    <head>
        <title>Buy Now</title>

    </head>

    <body>
        <h1>Order Yours!</h1>
        <form>
  Quantity:<br>
  <input type="number="firstname"><br>
  Color:<br>
  <input type="radio" name="lastname">
</form>


    </body>

</html>