<!DOCTYPE HTML>
<html>
    <head>
        <title>Buy Now</title>
    </head>


    <body>
        <h1>Sign up</h1>
        <form>
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname">
</form> 
<form>
  City:<br>
  <input type="text" name="firstname"><br>
  Adress:<br>
  <input type="text" name="lastname">
</form><form>
  Credit card:<br>
  <input type="password" name="firstname"><br>
</form>
<form>
  E-mail adress:<br>
  <input type="email" name="firstname"><br>
  <form>
  Date of birth:<br>
  <input type="month" name="firstname"><br>
  Username:<br>
  <input type="text" name="lastname">
</form>
  
    </body>
</html>