 <link rel="stylesheet" href="/css/bar.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 
 <div id="bar">
    <h2>T.D.S | </h2>
    <a href="/" >Home</a>
    <a href="/about_us" >About us</a>
    <a href="/about_product" >About product</a>

    <a href="/login" class="right">Login</a>
    <a href="/signup" class="right">Sign Up</a>
</div>