<!DOCTYPE html>
<html>
    <head>
        <title>Shark tank project</title>
        <link rel="stylesheet" href="/css/home.css">

        <link rel="stylesheet" href="../public/css/home.css">
    </head>

    
    <body>
        <% include header %>
        <div id="content">
            <div id="grabber">
                <h1>Ever feel like you're not safe?</h1>
                <h3>Now's the time to buy our product.</h3>
                <h3>The T.D.S.(Tacktical Defense shield) is a shield to put in your class or anywhere you would like to protect yourself from bad people.</h3>
                <a href="/buy"><button>Buy Now</button><a>
                
                
            </div>
        </div>
    </body>


</html>