<!DOCTYPE HTML>
<html>
  <head>
    <title>Sign In</title>
  </head>
  <body>
    <% include header %>
    <h1>Sign In</h1>
    <form method="post" action="/login">
      username:<br>
      <input type="text" name="username"><br/>
      password:<br>
      <input type="password" name="passwd"><br/>
      <input type="submit" value="Log In">
    </form>
    <% if (err){ %>
        <p>Invalid Username or Password!</p>
    <% } %>
</body>
