<!DOCTYPE HTML>
<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign up</h1>

    <form method="post" action="/signup">
      First name:<br>
      <input type="text" name="firstname"><br>
      Last name:<br>
      <input type="text" name="lastname">
      City:<br>
      <input type="text" name="firstname"><br>
      Adress:<br>
      <input type="text" name="lastname">
      Credit card:<br>
      <input type="password" name="firstname"><br>
      E-mail adress:<br>
      <input type="email" name="firstname"><br>
      <form>
      Date of birth:<br>
      <input type="month" name="firstname"><br>
      Username:<br>
      <input type="text" name="lastname"><br>
      
      Password:<br>
      <input type="text" name="firstname"><br>
      Re enter password:<br>
      <input type="text" name="lastname"><br>

      <input type="submit">
    </form>
  
  </body>
</html>