<!DOCTYPE HTML>
<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign up</h1>

    <form method="post" action="/signup">
      First name:<br>
      <input type="text" name="firstname"><br/>
      Last name:<br>
      <input type="text" name="lastname"><br/>
      City:<br>
      <input type="text" name="city"><br>
      Address:<br>
      <input type="text" name="addr"><br/>
      Credit card:<br/>
      <input type="password" name="credcard"><br/>
      E-mail adress:<br/>
      <input type="email" name="email"><br/>
      <form>
      Date of birth:<br/>
      <input type="month" name="dob"><br/>
      Username:<br/>
      <input type="text" name="username"><br/>
      
      Password:<br/>
      <input type="text" name="passwd"><br/>
      Re enter password:<br/>
      <input type="text" name="passwd-conf"><br/>

      <input type="submit" value="Sign Up">
    </form>
  
  </body>
</html>