<!DOCTYPE html>
<html>
    <head>
        <title>Buy it</title>
        <link rel="stylesheet" href="buy-now.css">
    </head>
    
    <body>
        <h1>A short animation of how our product works!</h1>
        <h2>Our product will save the lives of the future </h2>
        <h4>Sign up here</h4>
        <form>
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname"><br>
  E-mail address:<br>
  <input type="email" name="e-mail adress"><br>
  Addres:<br>
  <input type="text" name="Addres"><br>
  City:<br>
  <input type="text" name="City"><br>
  I agree to the terms and conditions:
  <input type="checkbox" name="I agree to the terms and conditions"
  <form>
  <h4>Get the product</h4>

  <form>
      Credit card number:<br>
  <input type="number" name="firstname"><br>
  </form>
  
</form>

</form>



    </body>


</html>