<!DOCTYPE HTML>
<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/signupin.css">
  </head>
  <body>
    <% include header %>
    <div id="content">
    <h1>Sign up</h1>

    <form method="post" action="/signup">
      <input type="text" name="firstname" placeholder="First Name"><br/>
      <input type="text" name="lastname" placeholder="Last Name"><br/>
      <input type="text" name="city" placeholder="City"><br>
      <input type="text" name="addr" placeholder="Address"><br/>
      <input type="password" name="credcard" placeholder="Credit Card #"><br/>
      <input type="email" name="email" placeholder="Email"><br/>
      Date of Birth: <br/>
      <input type="month" name="dob" placeholder="Date of Birth"><br/>
      <input type="text" name="username" placeholder="Username"><br/>
      
      <input type="password" name="passwd" placeholder="Password"><br/>
      <input type="password" name="passwd-conf" placeholder="Reenter Password"><br/>

      <input type="submit" value="Sign Up">
    </form>
    <% if (err){ %>
      <p>Good Job! You just caused an error! Are you sure you filled in the fields?</p?
    <% } %>
    </div>
  
  </body>
</html>
