body {
    background-color: #E0E0E0;
    font-family: "Segoe UI", "Roboto", sans-serif;
    background-image: url("/img/bg.jpg");
    background-size: cover;
    color: white;
}

h1 {
    font-size: 45px;
}

h3 {
    font-size: 25px;
}

#content {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    height: calc(100vh - 60px);
}

#grabber {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

#grabber button {
    padding: 15px 30px;
    border: 1px solid #222222;
    outline: none;
    font-size: 20px;
    -webkit-transition: background-color, color 2s;
    -moz-transition: background-color, color 2s;
    transition: background-color, color 2s;
    cursor: pointer;
}

#grabber button:hover {
    background-color: black;
    color: #eeeeee;
}


/*#home {

    color:#616161;
    text-decoration: none;
}*/
